aiohttp
opencv-python~=4.9.0.80
torch~=2.2.1
onnx
onnxruntime
numpy==1.22
pycryptodome
ultralytics~=8.1.19
ujson~=5.7.0
pandas~=2.0.3
pillow~=10.2.0
matplotlib~=3.7.3
scipy~=1.11.4
tqdm~=4.66.1
requests~=2.31.0